@model IEnumerable<Ris2022.Data.Models.Patient>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Givenid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Middlename)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gendre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mothername)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mobilephone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Landphone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Currentaddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Residentaddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Workphone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Workaddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nearestperson)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nearestpersonphone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthplace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Translatedfname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Translatedlname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Translatedfathername)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Translatedmothername)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Insertdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateuserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updatedate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InsertUserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nationality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Worktype)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Martialstatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Acceptancetype)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Givenid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Middlename)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gendre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mothername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobilephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Landphone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Currentaddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Residentaddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Workphone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Workaddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nearestperson)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nearestpersonphone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthplace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Translatedfname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Translatedlname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Translatedfathername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Translatedmothername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Insertdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateuserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Updatedate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reason.Namear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsertUserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nationality.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Worktype.Namear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Martialstatus.Namear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Acceptancetype.Namear)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
